<section id="team">
    <div class="container">
        <h2>Our Founder</h2>
        <hr />
    </div>
    <div class="container grid">
        <div style="width: 24em">
            <img src="https://eep.io/images/yzco4xsimv0y/5wuCiHL81MYkH5ZFtRzzIM/6d5bf675ff5912eb2b72b09ba7d01fca/HomepageHero_Animation_Flowers.gif?w=760&amp;q=95"
                srcset="https://eep.io/images/yzco4xsimv0y/5wuCiHL81MYkH5ZFtRzzIM/6d5bf675ff5912eb2b72b09ba7d01fca/HomepageHero_Animation_Flowers.gif?w=760&amp;q=95 760w, https://eep.io/images/yzco4xsimv0y/5wuCiHL81MYkH5ZFtRzzIM/6d5bf675ff5912eb2b72b09ba7d01fca/HomepageHero_Animation_Flowers.gif?w=1520&amp;q=95 1520w"
                sizes="760px" alt="A bunch of flowers swaying on a browser bar">
            <h3>Charity Salzer</h3>
            <span>Years of experience creating successful marketing campaigns for international nonprofits.</span>
        </div>
    </div>
</section>