.container {
  display: block;
  max-width: 1200px;
  width: 70%;
  margin: auto;
}

.grid {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.grid>* {
  margin: auto;
}