.container {
  display: block;
  max-width: 1200px;
  width: 70%;
  margin: auto;
}

.grid {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

  @media screen and (max-width: 700px) {
    grid-template-columns: 100%;
  }

  &>* {
    margin: auto;
  }
}