:root {
    color: map-get($colors, text);
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;

    span {
        line-height: 1.5em;
    }

    p {
        font-size: 18px;
        margin-bottom: 18px;
    }

    .lead {
        font-size: 24px;
        line-height: 1.5em;
    }

    i {
        font-style: italic;
        color: map-get($colors, primary);
        margin-bottom: 20px;
        display: block;
    }

    small {
        font-family: 'Noto Serif', serif;
        font-size: 12px;
    }

    h1 {
        font-size: 60px;
        margin-bottom: 42px;
        font-family: 'Noto Serif', serif;
        line-height: 1.2em;
    }

    h2 {
        font-size: 42px;
        margin-bottom: 42px;
        font-family: 'Noto Serif', serif;
        line-height: 1.2em;
    }

    h3 {
        font-size: 32px;
        margin-bottom: 18px;
        font-family: 'Noto Serif', serif;
        text-transform: capitalize;
        line-height: 1.2em;
    }

    ul {
        list-style: disc;
        font-size: 21px;
    }
}