<header id="marquee">
	<div class="container grid">
		<div>
			<h1>The <br />Office Elephant</h1>
			<p class="lead">A platform that promotes Diversity, Equality, and Inclusion (DEI) in the workplace!</p>
			<br />
			<a href="#contact-form">Stay In Touch</a>
		</div>
		<figure>
			<img src="https://eep.io/images/yzco4xsimv0y/5wuCiHL81MYkH5ZFtRzzIM/6d5bf675ff5912eb2b72b09ba7d01fca/HomepageHero_Animation_Flowers.gif?w=760&amp;q=95"
				srcset="https://eep.io/images/yzco4xsimv0y/5wuCiHL81MYkH5ZFtRzzIM/6d5bf675ff5912eb2b72b09ba7d01fca/HomepageHero_Animation_Flowers.gif?w=760&amp;q=95 760w, https://eep.io/images/yzco4xsimv0y/5wuCiHL81MYkH5ZFtRzzIM/6d5bf675ff5912eb2b72b09ba7d01fca/HomepageHero_Animation_Flowers.gif?w=1520&amp;q=95 1520w"
				sizes="760px" alt="A bunch of flowers swaying on a browser bar">
		</figure>
	</div>
</header>